<div class="agt-inline-cluster">
    <RadzenButton Text="Opslaan" Icon="save" ButtonStyle="ButtonStyle.Success" />
    <RadzenButton Text="Verwijderen" Icon="delete" ButtonStyle="ButtonStyle.Danger" Disabled="true" />
    <RadzenButton Text="Zoeken" Icon="search" ButtonStyle="ButtonStyle.Info" />
</div>
