<div class="agt-stack demo-example-gap-sm">
    <div class="agt-inline-cluster">
        <RadzenButton Text="Filled" Variant="Variant.Filled" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton Text="Outlined" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton Text="Flat" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Primary" />
    </div>
</div>
