<div class="agt-inline-cluster">
    <RadzenButton Text="Primary" ButtonStyle="ButtonStyle.Primary" />
    <RadzenButton Text="Secondary" ButtonStyle="ButtonStyle.Secondary" />
    <RadzenButton Text="Light" ButtonStyle="ButtonStyle.Light" />
</div>
