<RadzenTileLayout>
    <RadzenTileLayoutItem>
        <ChildContent>
            <RadzenCard>
                <h4>Status</h4>
                <p>3 open tickets</p>
            </RadzenCard>
        </ChildContent>
    </RadzenTileLayoutItem>
    <RadzenTileLayoutItem>
        <ChildContent>
            <RadzenCard>
                <h4>Planning</h4>
                <p>2 interventies vandaag</p>
            </RadzenCard>
        </ChildContent>
    </RadzenTileLayoutItem>
</RadzenTileLayout>
