<div class="agt-grid-2 demo-example-gap-md">
    <RadzenTextBox Name="tb-enabled" Placeholder="Actief veld" />
    <RadzenTextBox Name="tb-disabled" Placeholder="Uitgeschakeld veld" Disabled="true" />
</div>