<RadzenCardGroup>
    <RadzenCard>
        <h4>Preventief onderhoud</h4>
        <ul>
            <li>Koeling</li>
            <li>Ventilatie</li>
        </ul>
    </RadzenCard>
    <RadzenCard>
        <h4>Correctief onderhoud</h4>
        <ul>
            <li>Storingsdienst</li>
            <li>Nacontrole</li>
        </ul>
    </RadzenCard>
</RadzenCardGroup>
