<RadzenCardGroup>
    <RadzenCard>
        <h4>Klantaanvraag</h4>
        <p>Nieuwe interventie gepland voor morgen.</p>
    </RadzenCard>
    <RadzenCard>
        <h4>Materiaalstatus</h4>
        <p>Alle onderdelen zijn op voorraad.</p>
    </RadzenCard>
</RadzenCardGroup>
