@page "/components/feedback"

<PageTitle>Feedback</PageTitle>

<div class="agt-page agt-stack">
    <AgtPageHeader Title="Feedback" Description="AgtAlert met semantische intent-mapping." />

    <AgtAlert Intent="AgtIntent.Info">Informatieve melding</AgtAlert>
    <AgtAlert Intent="AgtIntent.Success">Actie is succesvol uitgevoerd</AgtAlert>
    <AgtAlert Intent="AgtIntent.Warning">Controleer de invoer</AgtAlert>
    <AgtAlert Intent="AgtIntent.Danger">Er is een fout opgetreden</AgtAlert>
</div>
