@page "/components/forms/password"

<PageTitle>Password</PageTitle>

<div class="agt-page agt-stack">
    <AgtPageHeader Title="AgtPassword" Description="Wachtwoordveld met toon/verberg-knop en toegankelijke knopstatus." />

    <AgtCard>
        <ChildContent>
            <AgtPassword @bind-Value="_password" Label="Wachtwoord" Placeholder="Voer wachtwoord in" />
            <p>Lengte: @(_password?.Length ?? 0)</p>
        </ChildContent>
    </AgtCard>
</div>

@code {
    private string? _password = "secret123";
}
