<div class="agt-stack demo-example-gap-sm">
    <div><RadzenCheckBox Value="true" TValue="bool" Disabled="true" Name="enabled-disabled" /> Ingeschakeld (locked)</div>
    <div><RadzenCheckBox Value="false" TValue="bool" Disabled="true" Name="disabled-disabled" /> Uitgeschakeld (locked)</div>
</div>
