<div class="agt-stack demo-example-gap-sm">
    <RadzenAlert AlertStyle="AlertStyle.Info" AllowClose="true">
        Informatie met sluitknop voor niet-kritische meldingen.
    </RadzenAlert>
    <RadzenAlert AlertStyle="AlertStyle.Warning" AllowClose="true">
        Tijdelijk onderhoud start om 22:00.
    </RadzenAlert>
</div>
