<RadzenProfileMenu>
    <Template>
        <div class="catalog-profile-chip">
            <span class="catalog-profile-chip__avatar">RA</span>
            <span>Robert Agterhuis</span>
        </div>
    </Template>
    <ChildContent>
        <RadzenProfileMenuItem Text="Mijn account" Icon="manage_accounts" />
        <RadzenProfileMenuItem Text="Notificaties" Icon="notifications" />
        <RadzenProfileMenuItem Text="Afmelden" Icon="logout" />
    </ChildContent>
</RadzenProfileMenu>
