<div class="catalog-progress-circular-grid">
    <RadzenProgressBarCircular Value="35" ProgressBarStyle="ProgressBarStyle.Info" ShowValue="true" Unit="%" />
    <RadzenProgressBarCircular Value="67" ProgressBarStyle="ProgressBarStyle.Warning" ShowValue="true" Unit="%" />
    <RadzenProgressBarCircular Value="92" ProgressBarStyle="ProgressBarStyle.Success" ShowValue="true" Unit="%" />
</div>
