<div class="catalog-progress-circular-grid">
    <RadzenProgressBarCircular Value="20" ShowValue="true" Unit="%" />
    <RadzenProgressBarCircular Value="50" ShowValue="true" Unit="%" />
    <RadzenProgressBarCircular Value="80" ShowValue="true" Unit="%" />
</div>
