@page "/error"

<PageTitle>Fout</PageTitle>

<div class="agt-page agt-stack">
    <AgtPageHeader Kicker="Fout" Title="Er is iets misgegaan" Description="Ververs de pagina of ga terug naar het startpunt." />
</div>