@page "/not-found"

<PageTitle>Niet gevonden</PageTitle>

<div class="agt-page agt-stack">
    <AgtPageHeader Kicker="404" Title="Pagina niet gevonden" Description="Controleer de link of ga terug naar de startpagina." />
</div>