<div class="agt-inline-cluster">
    <RadzenBadge Text="Info" BadgeStyle="BadgeStyle.Info" />
    <RadzenBadge Text="Success" BadgeStyle="BadgeStyle.Success" />
    <RadzenBadge Text="Warning" BadgeStyle="BadgeStyle.Warning" />
</div>
