<div class="agt-inline-cluster">
    <RadzenSplitButton Text="Primair" ButtonStyle="ButtonStyle.Primary">
        <ChildContent>
            <RadzenSplitButtonItem Text="Opdracht starten" Value="start" />
            <RadzenSplitButtonItem Text="Opdracht plannen" Value="plan" />
        </ChildContent>
    </RadzenSplitButton>

    <RadzenSplitButton Text="Neutraal" ButtonStyle="ButtonStyle.Light" Variant="Variant.Outlined">
        <ChildContent>
            <RadzenSplitButtonItem Text="Printen" Value="print" />
            <RadzenSplitButtonItem Text="Exporteren" Value="export" />
        </ChildContent>
    </RadzenSplitButton>
</div>
