<div class="agt-inline-cluster">
    <RadzenSplitButton Text="Compact" Size="ButtonSize.Small" Variant="Variant.Flat">
        <ChildContent>
            <RadzenSplitButtonItem Text="Korte actie" Value="quick" />
            <RadzenSplitButtonItem Text="Meer acties" Value="more" />
        </ChildContent>
    </RadzenSplitButton>

    <RadzenSplitButton Text="Uitgeschakeld" Disabled="true" ButtonStyle="ButtonStyle.Light">
        <ChildContent>
            <RadzenSplitButtonItem Text="Niet beschikbaar" Value="na" />
        </ChildContent>
    </RadzenSplitButton>
</div>
