<div class="agt-stack demo-example-gap-sm">
    <div class="catalog-switch-row">
        <RadzenSwitch Value="true" />
        <span>Realtime meldingen</span>
    </div>
    <div class="catalog-switch-row">
        <RadzenSwitch Value="true" />
        <span>Automatisch opslaan</span>
    </div>
</div>
