<div class="agt-stack demo-example-gap-sm">
    <RadzenSkeleton Variant="SkeletonVariant.Text" class="catalog-skeleton-line" />
    <RadzenSkeleton Variant="SkeletonVariant.Text" class="catalog-skeleton-line catalog-skeleton-line--wide" />
    <RadzenSkeleton Variant="SkeletonVariant.Text" class="catalog-skeleton-line catalog-skeleton-line--narrow" />
</div>
