<div class="catalog-skeleton-avatar-row">
    <RadzenSkeleton Variant="SkeletonVariant.Circular" class="catalog-skeleton-avatar" />
    <div class="agt-stack demo-example-gap-xs catalog-skeleton-avatar-copy">
        <RadzenSkeleton Variant="SkeletonVariant.Text" class="catalog-skeleton-line catalog-skeleton-line--wide" />
        <RadzenSkeleton Variant="SkeletonVariant.Text" class="catalog-skeleton-line" />
    </div>
</div>
