<div class="agt-inline-cluster">
    <RadzenFab Icon="edit" Text="Wijzig" ButtonStyle="ButtonStyle.Secondary" />
    <RadzenFab Icon="delete" Text="Verwijder" ButtonStyle="ButtonStyle.Danger" />
</div>
