<div class="agt-stack demo-example-gap-sm">
    <RadzenText Text="Planningsoverzicht" TextStyle="TextStyle.H4" />
    <RadzenText Text="Vandaag staan 6 interventies gepland." TextStyle="TextStyle.Body1" />
</div>
