<div class="agt-inline-cluster">
    <RadzenLink Path="https://blazor.radzen.com" Text="Radzen docs" Target="_blank" />
    <RadzenLink Path="https://github.com/RobertAgterhuis/Blazor.Radzen.Themes" Text="Repository" Target="_blank" />
</div>
