<div class="agt-stack demo-example-gap-sm">
    <RadzenNumeric TValue="decimal" Value="199.95m" Format="c" Min="0" Step="1" />
    <RadzenNumeric TValue="decimal" Value="0.075m" Format="p" Min="0" Max="1" Step="0.005" />
</div>
