<div class="agt-stack demo-example-gap-sm">
    <RadzenNumeric TValue="int" Value="8" Min="0" Max="10" Disabled="true" />
    <RadzenNumeric TValue="int" Value="3" Min="0" Max="10" ShowUpDown="false" />
</div>
