<RadzenCarousel>
    <Items>
        <RadzenCarouselItem>
            <RadzenCard>
                <h4>Servicecontract</h4>
                <p>Q3 update en milestones.</p>
            </RadzenCard>
        </RadzenCarouselItem>
        <RadzenCarouselItem>
            <RadzenCard>
                <h4>Capaciteit</h4>
                <p>Beschikbare teams per regio.</p>
            </RadzenCard>
        </RadzenCarouselItem>
    </Items>
</RadzenCarousel>
