<div class="agt-stack demo-example-gap-sm">
    <RadzenProgressBar Value="25" ShowValue="true" Unit="%" />
    <RadzenProgressBar Value="55" ShowValue="true" Unit="%" />
    <RadzenProgressBar Value="85" ShowValue="true" Unit="%" />
</div>
