<div class="agt-stack demo-example-gap-sm">
    <RadzenProgressBar Value="32" ProgressBarStyle="ProgressBarStyle.Info" ShowValue="true" Unit="%" />
    <RadzenProgressBar Value="64" ProgressBarStyle="ProgressBarStyle.Warning" ShowValue="true" Unit="%" />
    <RadzenProgressBar Value="91" ProgressBarStyle="ProgressBarStyle.Success" ShowValue="true" Unit="%" />
</div>
